@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --dark-01: #181818;
    --dark-02: #474747;
    --dark-03: #757575;
    --orange-01: #FD6E0A;
    --white-01: #ffffff;
    --bg-color: #FFF8F3;
}

/* Common Styles */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-main {
    background-color: var(--bg-color);
}

.btn-theme {
    border-radius: 5px;
    background-color: var(--orange-01);
    border: 0;
    color: var(--white-01);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.btn-theme-outline {
    border: 1px solid var(--orange-01);
    background-color: transparent;
    color: var(--orange-01);
    margin-left: 30px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-01);
    font-weight: 700;
}
h4,h5 {
    font-size: 20px;
}

p {
    color: var(--dark-03);
    font-size: 18px;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mb-10 {
    margin-bottom: 10px;
}

.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-130 {
    margin-bottom: 130px;
}

.list-style-none {
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}

.line-height-30 {
    line-height: 30px;
}

/* navbar related styles */
header {
    background: var(--bg-color);
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

h1 {
    font-size: 45px;
    font-weight: 800;
}

h1 span {
    color: var(--orange-01);
}

nav {
    padding-top: 34px;
}

nav li {
    margin-left: 50px;
}

nav li a {
    color: var(--dark-02);
}

/* Banner related styles */
.content span {
    font-size: 45px;
    font-weight: 600;
    color: var(--dark-02);
}

.content h2 {
    font-size: 85px;
    color: var(--dark-01);
}

/* About related styles */
.about {
    padding: 130px 155px;
    border-radius: 10px;
}

.title {
    font-size: 35px;
}

.title-description {
    max-width: 825px;
}

.info {
    justify-content: space-evenly;
}

.info h4 {
    color: var(--dark-02);
}

/* skills related styles */
.skill {
    gap: 30px;
}

.skill-content {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-content p {
    font-size: 16px;
}

/* Resume Related Styles */
.resume {
    gap: 24px;
    margin-top: 130px;
}
.resume h3, .resume h4{
    color: var(--dark-02);
}
.resume h3 {
    font-size: 30px;
}
.resume h4 {
    font-size: 25px;
}
.resume h5 {
    font-weight: 600;
    color: var(--dark-03);
}
.resume p {
    font-size: 16px;
    line-height: 28px;
} 

/* Footer Related Styles */
footer {
    padding: 130px 0;
    display: flex;
}
.footer-container {
    display: flex;
}
.footer-column {
    width: 50%;
}
.footer-column h3 {
    font-size: 35px;
}
.footer-column p {
    font-size: 16px;
    line-height: 28px;
}
.footer-column ul  {
    display: flex;
    padding-left: 0;
}
.footer-column ul li  {
    padding-right: 1rem;
}
label {
    display: block;
    margin-bottom: 24px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    background-color: var(--white-01);
    border-radius: 5px;
    padding-left: 30px;
    border: 0;
    font-size: 16px;
    color: var(--dark-03);
    line-height: 28px;
}
input[type="text"], input[type="email"] {
    height: 64px;
}
textarea {
    padding-top: 18px;
}

/* Responsive */

@media screen and (max-width: 576px) {
    header {
        background-image: none;
    }
    .banner {
        flex-direction: column-reverse;
    }
    nav li {
        margin-left: 0;
    }
    .btn-theme-outline {
        margin: 1rem 0;
    }
    .banner img {
        width: 100%;
    }
    .about {
        padding: 0.5rem;
    }
    .skill, .resume, footer, .info, nav {
        flex-direction: column;
    }
    .title-description {
        max-width: 100%;
        padding: 0.5rem;
    }
    .footer-container {
        flex-direction: column-reverse;
    }
    .footer-column {
        width: 100%;
    }
    input[type="text"], input[type="email"], textarea {
        width: 80%;
    }
}